@{
    ViewBag.Title = "Error";
}

<div class="container mt-5">
    <div class="alert alert-danger shadow p-4 rounded">
        <h4 class="alert-heading">¡Algo salió mal!</h4>
        <p>@ViewBag.Message</p>
        <hr />
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Volver al inicio</a>
    </div>
</div>


