@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la UniversidadQ10</h1>
    <p>En este módulo puedes gestionar las materias y estudiantes.</p>
</div>
